.f-title {
  margin: 13px;
  margin-top: 13px;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
}

.filter-container {
  font-size: 0.8rem;
  height: fit-content;
  position: -webkit-sticky;
  position: sticky;
  top: -20px;
}

.filter {
  width: 200px;
  height: fit-content;
  max-height: 250px;
  border: 1px solid rgb(233, 233, 237);
  border-collapse: collapse;
  padding: 10px;
}

.filter-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.filter label {
  margin: 2px;
  margin-left: 5px;
}

.check {
  z-index: -1;
  color: #e05297;
  position: absolute;
  left: 17px;
}

.checkbox {
  width: 15px;
  height: 15px;
}

.type {
  font-weight: bold;
}

.filter-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hidden {
  overflow: hidden;
}

.overflow {
  overflow: auto;
}

.showmore {
  color: red;
  margin-left: 5px;
}
