
.group-wishlist{
    background:rgba(0,0,0,0.1);
    max-width:25%;
    height:41%;
    overflow:auto;
    border:1px solid rgba(0,0,0,0.3);
    margin-top:64px;
}
.group-wishlist-heading{
    text-align:center;
    padding:5px;
    background:#FD913C;
    color:white;
    font-weight:600;
    position:absolute;
    width:49.5%;
    box-shadow:-5px 0px 5px 2px rgba(0,0,0,0.2);
}
.wishlist-item{
    border:2px solid rgba(0,0,0,0.3);
    background:rgba(0,0,0,0.2);
    height:115px;
    margin:5px;
    background:white;
    border-radius:5px;
}
.wishlist-item-inner{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
.wishlist-item-data{
    display:block;
    margin:10px 15px;
    margin-bottom:0px;
}
.empty-wishlist{
    text-align:center;
    font-size:1.25rem;
}
.wishlist-item img{
    height:70px;
    width:auto;
}
.wishlist-item-added{
    font-size:1rem;
    font-weight:500;
    font-style:italic;
    text-align:center;
    background:#F13AB1;
    color:white;
    width:100%;
}
